.main_panel__video_library_sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_panel__video_library_icons_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

mat-card {
  width: 12%;
  margin: 1% 1% 1% 10px;
  min-height: 195px;
  position: relative;
  justify-content: space-between;

  .mat-card-image {
    height: 110px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .fav {
    position: absolute;
    color: lightgray;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    z-index: 2;

    &:hover {
      color: crimson;
    }
  }

  .notLiked {
    color: lightgray;
    &:hover {
      color: crimson;
    }
  }

  .liked {
    color: crimson;
    &:hover {
      color: lightgray;
    }
  }

  .remove {
    position: absolute;
    color: lightgray;
    background: transparent;
    border: none;
    bottom: 5px;
    right: 39px;
    z-index: 2;
    transform: scale(0.8);

    &:hover {
      color: cadetblue;
      cursor: pointer;
    }
  }

  .play {
    position: absolute;
    color: lightgray;
    bottom: 5px;
    right: 22px;
    z-index: 2;
    transform: scale(0.8);

    &:hover {
      color: yellow;
      cursor: pointer;
    }
  }
}

.mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95px;
  height: max-content;
  margin-bottom: 0;

  p {
    display: block;
    font-size: 10px;
    &.first {
      margin-bottom: 10px;
    }
  }
  span {
    font-weight: bold;
  }
}

.mat-list-item {
  font-size: 12px;
  &:hover {
    background-color: whitesmoke;
  }

  button {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    color: lightgray;
    background: transparent;
    border: none;
    outline: none;
    transition: 0.1s ease-in;


    &.remove:hover {
      color: cadetblue;
      cursor: pointer;
    }

    &.play:hover {
      color: yellow;
      cursor: pointer;
    }

    &.liked {
      color: crimson;
      &:hover {
        color: lightgray;
      }
    }

    &.notLiked {
      color: lightgray;
      &:hover {
        color: crimson;
      }
    }
  }
}

.matListAvatar {
  cursor: pointer;
}


#listBlock {
  .mat-paginator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-list {
  width: 90%;
}
