
<div class="main_panel">

  <div class="main_panel__header">
    <h1>What video would you like add to your store? </h1>
    <p>*copy full link or ID of your favourite video</p>
  </div>

  <div class="main_panel__subheader">
    <input type="text" placeholder="paste video id or link here" [(ngModel)]='videoInput'>
    <button mat-raised-button color="primary" (click)="findVideo(videoInput)">Search</button>
  </div>

  <div class="main_panel__video_output" *ngIf="video">
      <img class="video" [src]="this.video.imgUrl" alt="Error occurred, we could not load your video. Insert proper url or video ID.">

    <div class="video_meta">
      <span class="views"> {{ this.video.views }} views</span>
      <span class="likes"> {{ this.video.likes }} likes</span>
    </div>

    <span class="video_title"> {{ this.video.title }} </span>
    <button mat-fab color="primary" class="add_video" (click)="addToMyLibrary(this.video)">+</button>
    <button class="close" (click)="this.video = ''"><i class="far fa-window-close"></i></button>
  </div>

  <div class="main_panel__video_library_panel">
    <button mat-raised-button color="primary" (click)="showDemo()">Example library</button>
    <button mat-raised-button color="primary" (click)="showUser()">Your library</button>
    <button mat-stroked-button (click)="showIcons()">icons</button>
    <button mat-stroked-button (click)="showList()">list</button>
    <button mat-raised-button (click)="showFavourite()">show only favourite</button>

  </div>


  <app-library class="main_panel__video_library" *ngIf="demo" [videoList]="this.demoList" [favouriteVideoList]="this.favouriteDemoList" [icons]="this.icons" [favouriteListName]="'favouriteDemoList'" [videoListName]="'demoList'"></app-library>
  <app-library class="main_panel__video_library" *ngIf="user" [videoList]="this.userLibrary" [favouriteVideoList]="this.favouriteUserList" [icons]="this.icons" [favouriteListName]="'favouriteUserList'" [videoListName]="'userLibrary'"></app-library>

  <app-library class="main_panel__video_library" *ngIf="favouriteDemo" [videoList]="this.favouriteDemoList" [favouriteVideoList]="this.favouriteDemoList" [icons]="this.icons" [favouriteListName]="'favouriteDemoList'" [videoListName]="'favouriteDemoList'"></app-library>
  <app-library class="main_panel__video_library" *ngIf="favouriteUser" [videoList]="this.favouriteUserList" [favouriteVideoList]="this.favouriteUserList" [icons]="this.icons" [favouriteListName]="'favouriteUserList'" [videoListName]="'favouriteUserList'"></app-library>


</div>




