
<div>
  <h1>What video would you like add to your store? </h1>
  <p>*copy full link of your favourite video or its ID</p>
  <input type="text" [(ngModel)]="videoId">
  <button (click)="findVideo()">Add</button>
</div>


<!--<div> {{ video.items[0].snippet.title }} </div>-->
<!--&lt;!&ndash;<image src={{video.items[0].snippet.thumbnails.medium.url}}></image>&ndash;&gt;-->
<!--<div>{{ video.items[0].snippet.thumbnails.medium.url }}</div>-->
<!--<div> {{ video.items[0].statistics.viewCount }} </div>-->
<!--<div> {{ video.items[0].statistics.likeCount }} </div>-->
