
<div class="main_panel">

  <div class="main_panel__header">
    <h1>What video would you like add to your store? </h1>
    <p>*copy full link or ID of your favourite video</p>
  </div>

  <div class="main_panel__subheader">
    <input type="text" placeholder="paste video id or link here" [(ngModel)]='videoId'>
    <button mat-raised-button color="primary" (click)="findVideo(videoId)">Search</button>
  </div>

  <div class="main_panel__video_output" *ngIf="video">
      <img class="video" src={{imagePath}} alt="error occurred, we could not load your video">

    <div class="video_meta">
      <span class="views"> {{ video.items[0].statistics.viewCount }} views</span>
      <span class="likes"> {{ video.items[0].statistics.likeCount }} likes</span>
    </div>

    <span class="video_title"> {{ video.items[0].snippet.title }} </span>
    <button mat-fab color="primary" class="add_video" (click)="addToMyLibrary()">+</button>
    <button class="close" (click)="this.video = ''"><i class="far fa-window-close"></i></button>
  </div>
  <!--<ng-template #wrongInput><p>Wrong input. Please try insert ID or video url one more time.</p></ng-template>-->

  <div class="main_panel__video_library_panel">
    <button mat-raised-button color="primary" (click)="showDemo()">Example library</button>
    <button mat-raised-button color="primary" (click)="showUser()">Your library</button>
    <button mat-stroked-button (click)="showIcons()">icons</button>
    <button mat-stroked-button (click)="showList()">list</button>
    <button mat-raised-button (click)="showFavourite()">show only favourite</button>

  </div>


  <app-demo-library class="main_panel__video_library" *ngIf="demo" [demoList]="this.demoList" [icons]="this.icons" ></app-demo-library>
  <app-user-library class="main_panel__video_library" *ngIf="user" [demoList]="this.userLibrary" [icons]="this.icons" (onProp)="updateUserFavouriteList($event)"></app-user-library>
  <app-demo-favourite-library class="main_panel__video_library" *ngIf="favouriteDemo" [demoList]="this.favouriteDemoList" [favouriteDemoList]="this.demoList" [icons]="this.icons" ></app-demo-favourite-library>
  <app-user-favourite-library class="main_panel__video_library" *ngIf="favouriteUser" [demoList]="this.userLibrary" [favouriteUserList]="this.favouriteUserList"[icons]="this.icons" ></app-user-favourite-library>
</div>




