  <div class="main_panel__video_library_sub" *ngIf="icons; else listBlock">

    <mat-card *ngFor="let demoVideo of demoList">
      <img mat-card-image (click)="openDialog()" src={{demoVideo.imgUrl}} alt="video">
      <mat-card-content>
        <p class="first">{{demoVideo.title}}</p><br>
        <p>
          <span>{{demoVideo.views}}</span> views <br><span>{{demoVideo.likes}}</span> likes
        </p>
        <p>{{demoVideo.addingDate}}</p>
      </mat-card-content>
      <button mat-icon-button class="fav">
        <i class="fas fa-heart" (click)="favourite($event)"> </i>
      </button>
      <button mat-icon-button disabled class="remove">
        <i class="fas fa-trash"></i>
      </button>
    </mat-card>
  </div>

  <ng-template #listBlock>
    <mat-list>
      <mat-list-item *ngFor="let demoVideo of demoList" (click)="dialog.openDialog()">
        <h4 mat-line>{{demoVideo.title}}</h4>
        <p mat-line>{{demoVideo.views}} views| {{demoVideo.likes}} likes</p>
        <button mat-icon-button class="fav">
          <i class="fas fa-heart" (click)="favourite($event)"> </i>
        </button>
      </mat-list-item>
    </mat-list>
  </ng-template>

